<div style="width: 20%; margin: 0 auto; padding-top: 5%;">
    <h1 style="text-align: center; padding-bottom: 5%;">Modificar Registro</h1>
    <div class="form-floating mb-3">
        <input type="email" class="form-control" value="{{cliente.codigo}}" placeholder="name@example.com">
        <label for="floatingInput">Codigo</label>
    </div>
    <div style="padding-bottom: 10px;">
        <label style="padding-right: 15%;">Fecha:</label>
        <input style="width: 50%; text-align: center;" #fecha type="date" placeholder="Leave a comment here" value="{{cliente.fecha}}">
    </div>
    <div class="form-floating mb-3">
        <input type="email" class="form-control" value="{{cliente.cliente}}" placeholder="name@example.com">
        <label for="floatingInput">Cliente</label>
    </div>
    <div class="form-floating">
        <select class="form-select" aria-label="Floating label select example">
        <option selected >Seleccione una de las opciones</option>
        <option value="Telefono fijo">Telefono fijo</option>
        <option value="Celular">Celular</option>
        <option value="WhatsApp">WhatsApp</option>
        <option value="Instagram">Instagram</option>
        <option value="Facebook">Facebook</option>
      </select>
        <label for="floatingSelect">Seleccione una de las opciones</label>
    </div>
    <div class="form-floating" style="padding-top: 5%;">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px">{{cliente.descripcion}}</textarea>
        <label for="floatingTextarea2">Descripcion</label>
    </div>
    <div style="padding-top: 5%; text-align: center;">
        <button (click)="cancelar()" type="button" class="btn btn-danger">Cancelar</button>
        <span style="padding-left:55% ;"></span>
        <button type="button" class="btn btn-success">Guardar</button>
    </div>
</div>